<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.wandonoweb.nakadotemachi-shotengai-map"
        versionCode="12" 
        version   = "1.1.2">

    <!-- versionCode is optional and Android only -->

    <name>中土手町商店街MAP</name>

    <description>
        弘前市中土手町商店街の地図アプリです。
    </description>

    <author href="http://wandonoweb.com/" email="info@wandonoweb.com">
        わんどのweb
    </author>

	<preference name="phonegap-version" value="3.1.0" />
	<preference name="fullscreen" value="true" />
	
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
	
	<icon src="icons/ios/icon-29.png" gap:platform="ios" width="29" height="29" />
	<icon src="icons/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
	<icon src="icons/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
	<icon src="icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="icons/ios/icon-29@2x.png" gap:platform="ios" width="58" height="58" />
	<icon src="icons/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
	<icon src="icons/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
	<icon src="icons/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
	
	<icon src="icons/android/36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/96.png" gap:platform="android" gap:density="xhdpi" />
	
	<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splash/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<gap:splash src="splash/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="splash/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2008" />

	<!--<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />-->
	<gap:splash src="splash/android/default.png" gap:platform="android" />

	<access origin="*" />

</widget>
